*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --white-bg: #ffffff;
    --white-smoke: #F5F5F5;
    --black-rich: #001011;
    --mintgreen: #CCE3DE;
    --primary: #6B9080;
    --seondary: #A4C3B2;
}

body{
    background-color: var(--mintgreen);
}

.register{
    margin: 0 auto;
    background-color: var(--white-bg);
    height: auto;
    width: auto;
    max-width: 420px;
    padding: 50px 40px 50px 40px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h2{
    text-align: center;
    color: var(--black-rich);
    margin-bottom: 40px;
}

#username,#email,#password{
    border: none;
    padding: 4px 0px 4px 0px;
    border-radius: 5px;
    height: 36px;
    width: 100%;
    background-color: var(--white-smoke);
    margin-bottom: 30px;
    font-size: 16px;
}

#username::placeholder,#email::placeholder,#password::placeholder{
    padding-left: 8px;
}

#submit{
    border: none;
    border-radius: 5px;
    height: 36px;
    width: 100%;
    background-color: var(--seondary);
    font-size: 18px;
    color: var(--white-bg);
    font-weight: 600;
}

#submit:hover{
    background-color: var(--black-rich);
    transition: 0.2s ease-in-out;
    color: var(--white-bg);
}

p{
    color: #1b1b1b;
    margin-top: 10px;
}

p>a{
    text-decoration: none;
    color: #20a2c6;
}
li{
    background-color: var(--seondary);
    margin: 0;
    border-radius:5px ; 
    padding: 10px; 
    color: var(--white-bg);
    margin-bottom: 10px;
}