<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password page</title>
    <!-- links -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="register">
        <h2>Change Password</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="password" id="password" name="password" placeholder="Enter Your Password" required><br>
            <input type="password" id="password" name="password1" placeholder="Confirm Your Password" required><br>
            <input type="hidden" name="user_id" value="{{user_id}}">
            <input type="submit" id="submit" value="Save">
        </form>
    </div>
</body>
</html>

