<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password page</title>
    <!-- links -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="register">
        <h2>Verify User</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Enter Your Username" required><br>
            <input type="submit" id="submit" value="Submit">
        </form>
    </div>
</body>
</html>

