<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- links -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block header %}
    <div class="header">
        <a href="/home" class="logo">Shoppable</a>
        <div class="header-right">
            <a style="cursor: pointer;" id="pdfButton">Export PDF</a>
            <a href="export-excel/">Export Excel</a>
            <a href="loadcsv/">Upload CSV Data</a>
            {% if user.is_authenticated %}
            Welcome, <a>{{user.get_username}}</a>
            {% endif %}
            <a href="reset-password/">Reset Password</a>
            <a href="logout/">logout</a>
        </div>
    </div>
    {% endblock %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="productsection">
        <div class="productstext">
            <h2>Products</h2>

            {% if product_data %}
            <button type="submit" id="delete_btn" class="btn_delete" style="text-decoration: none;font-size:16px; position: relative; left: 350px; margin-top: 10px;border: 1px solid #6B9080; color: #ffffff;border-radius: 2px;padding: 6px;background-color: #6B9080;">Delete</button>
            {% endif %}

            <input type="search" id="productsearch" name="product_search" placeholder="Search for products">
            <div class="productsmaincontainer">
                {% for rec in page.object_list %}
                <div id="{{rec.id}}" class="productboxcontainer">
                    {% csrf_token %}
                    <div class="boxtext">
                        <input type="checkbox" value="{{rec.id}}" id="delete_product" name="product_id[]" style="float: left; margin-right: 10px;">
                        <h4 style="margin-top: 10px; text-align: start; margin-left: 5px; font-size: 18px;">Title: {{rec.title}}</h4>
                        <p style="margin-top: 10px; text-align: start; margin-left: 5px; font-size: 14px;">Description: {{rec.body|truncatechars:80 }}</p>
                        <p style="margin-top: 10px; text-align: start; margin-left: 5px; font-size: 16px;">Price: {{rec.variant_price}}</p>
                    </div>

                    <a href="/home/product/{{rec.id}}" style='text-decoration: none;float: right;margin-top: 10px;color: #6B9080;border-radius: 2px;padding: 6px;border:2px solid #A4C3B2;'>View More</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="page" style="text-align: center; margin-top: 30px;margin-bottom: 30px;">
        {% if page.has_previous %}
        <a style="font-size: 16px;padding: 10px;text-decoration: none;color: #000; background-color: #fff;border-radius: 2px;margin-right: 5px;border: 1px solid #313131;" href="{% url 'home' %}?page={{page.previous_page_number}}">Previous</a>
        {% endif %}
        {% if page %}
        <a>Page {{ page.number }} of {{ page.paginator.num_pages }}</a>
        {% endif %}
        {% if page.has_next %}
        <a style="font-size: 16px;padding: 10px;text-decoration: none;color: #000; background-color: #fff;border-radius: 2px;margin-left: 5px;border: 1px solid #313131;" href="{% url 'home' %}?page={{page.next_page_number}}">Next</a>
        {% endif %}
    </div>

    <!-- jquery for checkbox -->
    <script src= "https://code.jquery.com/jquery-2.2.4.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#delete_btn').click(function(){
                if(confirm("Do you want to delete product?")){
                    var id = [];
                    // csrfmiddlewaretoken
                    var csrf=$('input[name=csrfmiddlewaretoken]').val()
                    $(':checkbox:checked').each(function(i){
                        id[i]=$(this).val();
                    })
                    if(id.length===0){
                        alert("please select products.")
                    }else{
                        $.ajax({
                            url:"delete-product/",
                            method:"POST",
                            data:{
                                id,
                                csrfmiddlewaretoken:csrf
                            },
                            success:function(response){
                                for(var i=0; i<id.length;i++){
                                    $('div#'+id[i]+'').css('background-color', '#ffffff');
                                    $('div#'+id[i]+'').fadeOut('show');
                                }
                            }
                        })
                    }
                }
            })
        })
    </script>


    <div hidden="True" id="generatePDF" style="margin: 0 auto; text-align: left;">
        <h1 style="text-align: left; margin-left: 10px;">Products</h1>
        <table style="border: 1px solid lightgray;">
            <thead>
                <tr>
                    <th style="border: 1px solid lightgray;text-align: center;">handle</th>
                    <th style="border: 1px solid lightgray;text-align: center;">title</th>
                    <th style="border: 1px solid lightgray;text-align: center;">body</th>
                    <th style="border: 1px solid lightgray;text-align: center;">vendor</th>
                    <th style="border: 1px solid lightgray;text-align: center;">type</th>
                    <th style="border: 1px solid lightgray;text-align: center;">tags</th>
                    <th style="border: 1px solid lightgray;text-align: center;">published</th>
                    <th style="border: 1px solid lightgray;text-align: center;">variant_sku</th>
                    <th style="border: 1px solid lightgray;text-align: center;">variant_inventory_tracker</th>
                    <th style="border: 1px solid lightgray;text-align: center;">variant_price</th>
                    <th style="border: 1px solid lightgray;text-align: center;">image_src</th>
                </tr>
            </thead>
            <tbody>
                {% for product in product_data %}
                <tr>
                    <td style="border: 1px solid lightgray;">{{product.handle}}</td>
                    <td style="border: 1px solid lightgray;">{{product.title}}</td>
                    <td style="border: 1px solid lightgray;">{{product.body}}</td>
                    <td style="border: 1px solid lightgray;">{{product.vendor}}</td>
                    <td style="border: 1px solid lightgray;">{{product.type}}</td>
                    <td style="border: 1px solid lightgray;">{{product.tags}}</td>
                    <td style="border: 1px solid lightgray;">{{product.published}}</td>
                    <td style="border: 1px solid lightgray;">{{product.variant_sku}}</td>
                    <td style="border: 1px solid lightgray;">{{product.variant_inventory_tracker}}</td>
                    <td style="border: 1px solid lightgray;">{{product.variant_price}}</td>
                    <td style="border: 1px solid lightgray;">{{product.image_src}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/download_pdf.js' %}"></script>

</body>
</html>