<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- links -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="register">
        <h2>Login Here</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Enter Your Username" required><br>
            <input type="password" id="password" name="password" placeholder="Enter Your Password" required><br>
            <input type="submit" id="submit" value="Submit">
        </form>
        <p><a href="/forget-password/">Forget Password?</a> <a href="/register/">Register New User</a></p>
    </div>
</body>
</html>

