{% block header %}
{% endblock %}

<table style="padding: 10px;">
    <thead>
        <tr>
            <th style="border: 1px solid black; background-color: #cacaca;">Title</th>
            <th style="border: 1px solid black; background-color: #cacaca;">Body</th>
            <th style="border: 1px solid black; background-color: #cacaca;">Price</th>
            <th style="border: 1px solid black; background-color: #cacaca;">Published</th>
            <th style="border: 1px solid black; background-color: #cacaca;">link</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in product_data %}
        <tr>
            <td style="border: 1px solid black;">{{rec.title}}</td>
            <td style="border: 1px solid black;">{{rec.body}}</td>
            <td style="border: 1px solid black;">{{rec.variant_price}}</td>
            <td style="border: 1px solid black;">{{rec.published}}</td>
            <td style="border: 1px solid black;">{{rec.image_src}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>