*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --white-bg: #ffffff;
    --white-smoke: #F5F5F5;
    --black-rich: #001011;
    --mintgreen: #CCE3DE;
    --primary: #6B9080;
    --seondary: #A4C3B2;
}

body{
    background-color: var(--white-bg);
}
.header {
    overflow: hidden;
    background-color: var(--mintgreen);
    padding: 20px 10%;
    box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
}

.header >a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 5px;
}

.header a.logo {
    font-size: 30px;
    font-weight: bold;
}

.header-right {
    float: right;
}
 
.header-right a{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--black-rich);
    line-height: 44px;
    padding-right: 10px;
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
      background-color: var(--white-smoke);
      padding: 20px;
    }
}

.productsection{
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.productstext{
    text-align: center;
}

.productstext h2{
    margin-bottom: 10px;
    font-size: 30px;
}

.productsmaincontainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
}
.productboxcontainer{
    background-color: var(--white-bg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 15px 20px 15px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    height: auto;
    width: 300px;
    max-width: 350px;
}

.productboxcontainer:hover{
    transform: scale(1.1);
    transition: all 0.2s ease;
}

#productsearch{
    position: relative;
    left: 390px;
    margin-bottom: 20px;
    padding: 8px 10px;
    border: 1px solid #c5c5c5;
    font-size: 16px;
    border-radius: 2px;
}
li{
    background-color: var(--seondary);
    margin: 0;
    border-radius:5px ; 
    padding: 10px; 
    color: var(--white-bg);
    margin-bottom: 10px;
}
